# Python
__pycache__/
*.pyc

# IDE
.idea/
.vscode/

# Virtual env
venv/

# Data (IMPORTANT)
research/configs/datasets/
*.csv
*.bin
*.txt

# ML stuff
saved_models/
mlruns/
outputs/
multirun/
.hydra/

mlflow.db
optuna.db