{
  "github": {
    "username": "wgrzesik",
    "token": "YOUR_GITHUB_TOKEN_HERE",
    "repo_url": "https://{username}:{token}@github.com/{username}/fake-news-detector.git",
    "branch": "develop"
  },
  "colab": {
    "drive_root": "/content/drive/MyDrive/fake-news-results",
    "project_dir": "/content/fake-news-detector"
  }
}

